@page "/"
@namespace QrOrder.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QrOrder</title>
    <base href="~/" />
</head>
<body>
    <component type="typeof(QrOrder.Web.App)" render-mode="Server" />

    <script src="~/js/localStorage.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
