@page "/staff/service"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Servis Ekrani</title>
    <link rel="stylesheet" href="~/css/staffKitchen.css?v=20260526-5" />
</head>
<body>
    <main id="service-app" class="kitchen-shell"></main>
    <script src="~/js/staffService.js?v=20260612-3"></script>
</body>
</html>
